{% extends 'layout.html' %}
{% block content %}
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="text-center">
                <h3>K-Means (Self-Implementation)</h3>
                <img src="{{ url_for('static', filename='Kmeans-barChart.png') }}" alt="Network Topology" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="text-center">
                <h3>K Means (Scikit-Learn) </h3>
                <img src="{{ url_for('static', filename='Kmeans-barChart-scikitlearn.png') }}" alt="Network Topology" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="text-center">
                <!-- <h2>Network Topology</h2> -->
                <img src="{{ url_for('static', filename='Kmeans-scatter1.png') }}" alt="Network Topology" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="text-center">
                <!-- <h2>Network Topology</h2> -->
                <img src="{{ url_for('static', filename='Kmeans-scatter-scikitlearn1.png') }}" alt="Network Topology" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="text-center">
                <!-- <h2>Network Topology</h2> -->
                <img src="{{ url_for('static', filename='Kmeans-scatter2.png') }}" alt="Network Topology" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="text-center">
                <!-- <h2>Network Topology</h2> -->
                <img src="{{ url_for('static', filename='Kmeans-scatter-scikitlearn2.png') }}" alt="Network Topology" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="text-center">
                <!-- <h2>Network Topology</h2> -->
                <img src="{{ url_for('static', filename='Kmeans-scatter3.png') }}" alt="Network Topology" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="text-center">
                <!-- <h2>Network Topology</h2> -->
                <img src="{{ url_for('static', filename='Kmeans-scatter-scikitlearn3.png') }}" alt="Network Topology" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="text-center">
                <!-- <h2>Network Topology</h2> -->
                <img src="{{ url_for('static', filename='Kmeans-scatter4.png') }}" alt="Network Topology" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="text-center">
                <!-- <h2>Network Topology</h2> -->
                <img src="{{ url_for('static', filename='Kmeans-scatter-scikitlearn4.png') }}" alt="Network Topology" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="text-center">
                <!-- <h2>Network Topology</h2> -->
                <img src="{{ url_for('static', filename='Kmeans-scatter5.png') }}" alt="Network Topology" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="text-center">
                <!-- <h2>Network Topology</h2> -->
                <img src="{{ url_for('static', filename='Kmeans-scatter-scikitlearn5.png') }}" alt="Network Topology" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="text-center">
                <h3>K Nearest Neighbour (Self-Implementation)</h3>
                <img src="{{ url_for('static', filename='KNN-confusion.png') }}" alt="KNN confusion matrix" class="img-fluid">
            </div>
        </div>
    </div>
</div>

{% endblock %}